    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About SpyGraph Systems</h2>
                <p>At SpyGraph Systems, we provide intelligence agency level insight on two specific types of threats to your company: First, protection against intellectual property and trade secret theft. Second, identification of vendors or supply chains that have either been compromised or pose legal or brand risk. </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <h2>Contact</h2>
                <p>For more information on how SpyGraph can protect your company.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </section>
